# deps / build outputs
node_modules
.next
out
dist
.cache
.turbo
coverage
dist-scripts
*.tsbuildinfo

# package managers
.pnpm-store
pnpm-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env / secrets
.env
.env.*
!.env.example

# runtime data
data
logs
localdata

# misc
.DS_Store
.git
*.tgz
*.zip

# optional: if you never need sourcemaps in image context
*.map
